body {
  margin: 0;
  font-family: 'Roboto';
  color: white;
  background-color: black;
  background-image: url('./images/city.gif');
  background-size: cover;
}
#nameTag {
margin-top: 325px;
text-align: center;
font-size: 50px;
text-shadow: 2px 2px #000000;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: black; 
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.button:hover {
    background-color: white;
    border: 1px solid #4CAF50;
    color: black;
}
